@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Trispace', sans-serif;
}

.nav-page-margin {
    margin: 0 6%;
}

.container {
    margin: 0 12%;
}

.page-margin-left {
    margin-left: 12%;
}

.page-margin-right {
    margin-right: 6%;
}

.nav-item {
    list-style-type: none;
    margin: 0px;
}

.nav-link a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    transition: 0.3s;
}

.nav-link a:hover {
    color: #2B50C7;
}

.btn-padding {
    padding: 11px;
    background-color: #335EEA;
}

.btn-primary {
    transition: 0.3s;
}

.btn-primary:hover {
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
    background-color: #2B50C7;
}

.btn-primary:hover {
    transform: translateY(-3px);
}

.header-left-width {
    width: 50%;
}

.header-right-width {
    width: 60%;
}

.letter-space {
    letter-spacing: -2px;
    line-height: 35px;
}

.header-p-color {
    color: gray;
}

.docs-btn {
    padding: 11px;
    background-color: rgba(51, 94, 234, .1);
    ;
    transition: 0.3s;
    color: #335eea;
}

.docs-btn:hover {
    transform: translateY(-3px);
    background-color: rgba(51, 94, 234, .15);
    color: #335eea;
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
}

.header-icon {
    font-size: 40px;
    color: #335EEA;
}

.header-card-p {
    color: gray;
}

.header-card-w {
    width: 36%;
}

.letter-spaceing {
    letter-spacing: -2px;
}

.top-btm-line {
    border-top: 1px solid #F1F4F8;
    border-bottom: 1px solid #F1F4F8;
    padding: 30px 0px;
}

.sponsor-section svg {
    padding: 20px;
    color: #8992b1;
}

/* form section */
.card-width {
    width: 40%;
}

.card-60 {
    width: 60%;
}

.img-border {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.svg-curve {
    margin-top: -55px;
}

.card-input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: 100%;
}

.card-form {
    padding: 0 7%;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.cart-form-info-m {
    margin-top: 13%;
}

.section-bg {
    background-color: #F9FBFD;
    padding-top: 80px;
}

.form-btn {
    border: none;
    margin: 50px 0;
    padding: 15px 80px;
    background-color: #42ba96;
    color: white;
    transition: 0.3s;
}

.form-btn:hover {
    box-shadow: 0 3px 15px 3px rgb(191, 228, 208);
    transform: translateY(-3px);
}

.cart {
    transition: 0.3s;
}

.cart:hover {
    box-shadow: 0 5px 25px 1px rgb(238 238 238);
    transform: translateY(-3px);
}

.form-info-heading {
    color: #42BA96;
}

.card-letter-spaceing {
    letter-spacing: -3px;
}

.cart-form-p {
    color: rgb(144, 158, 177);
}

.form-info-list {
    padding: 0px;
}

.form-info-list li {
    list-style-type: none;
}

.cart-form-list {
    color: #42BA96;
}

.card-h2-color {
    color: #2B50C7;
}

.line-height {
    line-height: 45px;
}

.icon-color {
    color: #5877df;
}

.svg-color {
    color: rgb(227, 228, 252);
    margin-left: -12%;
    margin-top: -5%;
}

.absolute-image {
    margin-left: -100%;
    margin-top: -20px;
}
.skew-img-size{
    width:96%;
}
.graph-img {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
    transform: skewx(-7deg) skewY(-3deg);
}
.img-shadow{
    box-shadow: 0px 77px 54px -51px rgb(165, 165, 165);
}
.div-center{
    margin: 0 auto;
}
.customer-section-margin{
    padding-bottom: 50px;
}
.card-svg-padding{
    padding-top: 7%;
}