@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Trispace', sans-serif;
}

.nav-page-margin {
    margin: 0 6%;
}

.page-margin-left {
    margin-left: 12%;
}

.page-margin-right {
    margin-right: 6%;
}

.nav-item {
    list-style-type: none;
    margin: 0px;
}

.nav-link a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
}

.btn-padding {
    padding: 11px;
    background-color: #335EEA;
}

.btn-primary {
    transition: 0.3s;
}

.btn-primary:hover {
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
    background-color: #2B50C7;
}

.btn-primary:hover {
    transform: translateY(-3px);
}

.header-left-width {
    width: 50%;
}

.header-right-width {
    width: 60%;
}

.letter-space {
    letter-spacing: -2px;
    line-height: 35px;
}

.header-p-color {
    color: gray;
}
.docs-btn {
    padding: 11px;
    background-color:  rgba(51,94,234,.1);;
    transition: 0.3s;
    color: #335eea;
}
.docs-btn:hover{
    transform: translateY(-3px);
    background-color: rgba(51,94,234,.15);
    color: #335eea;
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
}