@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Trispace', sans-serif;
}

.nav-page-margin {
    margin: 0 6%;
}

.container-right {
    margin-left: 12%;
}

.container-left {
    margin-right: 12%;
}

.page-margin-left {
    margin-left: 12%;
}

.page-margin-right {
    margin-right: 6%;
}

.nav-item {
    list-style-type: none;
    margin: 0px;
}

.nav-link a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    transition: 0.3s;
}

.nav-link a:hover {
    color: #2B50C7;
}

.btn-padding {
    padding: 11px;
    background-color: #335EEA;
}

.btn-primary {
    transition: 0.3s;
}

.btn-primary:hover {
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
    background-color: #2B50C7;
}

.btn-primary:hover {
    transform: translateY(-3px);
}

.header-left-width {
    width: 50%;
}

.header-right-width {
    width: 60%;
}

.letter-space {
    letter-spacing: -2px;
    line-height: 35px;
}

.header-p-color {
    color: gray;
}

.docs-btn {
    padding: 11px;
    background-color: rgba(51, 94, 234, .1);
    ;
    transition: 0.3s;
    color: #335eea;
}

.docs-btn:hover {
    transform: translateY(-3px);
    background-color: rgba(51, 94, 234, .15);
    color: #335eea;
    box-shadow: 0px 9px 25px 0px #ccd1f7c7 !important;
}

.header-icon {
    font-size: 40px;
    color: #335EEA;
}

.header-card-p {
    color: gray;
}

.header-card-w {
    width: 36%;
}

.letter-spaceing {
    letter-spacing: -2px;
}

.top-btm-line {
    border-top: 1px solid #F1F4F8;
    border-bottom: 1px solid #F1F4F8;
    padding: 30px 0px;
}

.sponsor-section svg {
    padding: 20px;
    color: #8992b1;
}

/* form section */
.card-40 {
    width: 40%;
}

.card-60 {
    width: 60%;
}

.img-border {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.svg-curve {
    margin-top: -55px;
}

.card-input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: 100%;
}

.card-form {
    padding: 0 7%;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.cart-form-info-m {
    margin-top: 13%;
}

.section-bg {
    background-color: #F9FBFD;
    padding-top: 80px;
}

.form-btn {
    border: none;
    margin: 50px 0;
    padding: 15px 80px;
    background-color: #42ba96;
    color: white;
    transition: 0.3s;
}

.form-btn:hover {
    box-shadow: 0 3px 15px 3px rgb(191, 228, 208);
    transform: translateY(-3px);
}

.cart {
    transition: 0.3s;
}

.cart:hover {
    box-shadow: 0 5px 25px 1px rgb(238 238 238);
    transform: translateY(-3px);
}

.form-info-heading {
    color: #42BA96;
}

.letter-spaceing {
    letter-spacing: -3px;
}

.text-color {
    color: rgb(144, 158, 177);
}

.form-info-list {
    padding: 0px;
}

.form-info-list li {
    list-style-type: none;
}

.cart-form-list {
    color: #42BA96;
}

.card-h2-color {
    color: #2B50C7;
}

.line-height {
    line-height: 45px;
}

.icon-color {
    color: #5877df;
}

.svg-color {
    color: rgb(227, 228, 252);
}

.absolute-image {
    margin-left: -90%;
    margin-top: -20px;
}

.skew-img-size {
    width: 90%;
}

.graph-img {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
    transform: skewx(-7deg) skewY(-3deg);
    margin-right: 7%;
}

.img-shadow {
    box-shadow: 0px 77px 54px -51px rgb(165, 165, 165);
}

.div-center {
    margin: 0 auto;
}

.customer-section-margin {
    padding-bottom: 50px;
}

.card-svg-padding {
    padding-top: 7%;
}

.card-insta-svg {
    width: 40%;
}

.white-bg {
    background-color: #ffffff;
}

.slide-card-w {
    width: 75%;
}

.slide-img {
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.seting-center {
    left: 12%;
}

.svg-div svg {
    margin: 20% 27% 7px 30%;
}

.insta-svg-color {
    color: #6f8bb3;
}

.card-img-info {
    width: 90%;
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
}

.text-owner {
    display: inline-block;
    margin: 7% 41% 0 41%;
    text-align: center;
    color: gray;
    font-size: 14px;
}

.section-bg-gray {
    background-color: #F1F4F8;
}

.span-blue-color {
    color: #2B50C7;
}

.font-s {
    font-size: 27px;
}

.busins-pad-top {
    padding-top: 15%;
}

/* pricing section */
.div-center1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 25%;
}

.fontSize-bsns-pera {
    font-size: 17px;
}

.switch {
    padding: 0 20px 0 84px;
    font-size: 21px;
}

.switch-center {
    padding: 0 32%;
}

.down-svg {
    background-color: #1B2A4E;
}

.div-bg {
    background-color: #1B2A4E;
    color: white;
    margin: 0;
}
.pading-10{
    padding-top: 25%;
}

.top-position{
    top:10%;
}

.dis-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.lankit-text {
    color: #869ab8;
}

.qsn-icon {
    color: #42BA96;
}

.white-bg {
    background-color: white;
}

.zIndex-1 {
    z-index: 1;
    box-shadow: 0px 5px 15px 1px #1B2A4E;
    border-radius: 5px;
}

.zIndex-2 {
    z-index: 0;
    border-radius: 5px;
    border-radius: 5px;
}
.btn-border-radius{
    border-radius: 0 0 5px 5px;
}

.price-fs {
    font-size: 50px;
}

.text-style {
    background-color: #EAEFFD;
    display: inline-block;
    padding:
        3px 8px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
    margin: 50px 0 20px 0;
}

.card-list {
    padding-top: 50px;
}

.card-list li {
    list-style-type: none;
    padding: 7px 0;
}

.card-list li i {
    color: #42BA96;
    font-size: 20px;
}

.get-btn {
    background-color: #335EEA;
    color: white;
    transition: 0.3s;
    padding: 15px 0;
    border: none;
}

.get-btn:hover {
    background-color: #2B50C7;
}

.contact-btn{
    background-color: #D9E2EF;
    color: #506690;
    padding: 15px 0;
    border: none;
}
.contact-box{
    padding-bottom: 136px;
}
.contact-card-height{
    height: 75vh;
}

.get-start {
    background-color: #203055;
    display: inline-block;
    padding:
        5px 10px;
    border-radius: 20px;
    color: #4E6588;
    font-size: 14px;
}
.zIndex1{
    z-index: 1;
}

.buy-btn {
    border: none;
    background-color: #42ba96;
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    transition: .3s;
}

.buy-btn:hover {
    box-shadow: 0 0 15px 1px rgb(221, 221, 221);
}

/*-------------- 
       Footer
 ---------------*/

.footer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-style {
    list-style-type: none;
}

.list-style li {
    padding-bottom: 10px;
}

.list-style li:hover {
    text-decoration: underline;
}

.icon-size {
    font-size: 22px;
    padding: 10px 10px 0 0;
}

.lankit-text-hard {
    color: #536176;
}

.list-heading {
    font-size: 14px;
}

.footer-bottom {
    padding-bottom: 100px;
}